@media screen and (min-width: 768px) and (max-width: 992px) { /* Tablet */
    body {
            height: 100vh;
            background-image: linear-gradient(to top, #49a09d, #5f2c82)
        }

    #login { width: 80vw; height: 280px;}  

    #imagem {
        float: left;
        width: 30%;
        height: 100%;
        background-size: cover;
        background-position: top right -115px;

    }

    #formulario {
        float: right;
        width: 70%;
    }

    div input {
        background-color: #53aaa7;
        font-size: 1em;
        width: calc(100% - 44px);
        height: 82%;
        border: 0px;
        border-radius: 8px;
        padding: 4px;
        transform: translateY(-9px);
    }
}

@media screen and (min-width: 992px) { /* Desktop e Grandes telas */
    body {
            height: 100vh;
            background-image: linear-gradient(to top, #49a09d, #5f2c82)
        }

    #login {
        width: 950px;
        height: 350px;
    }

    #imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    #formulario {
        float: left;
        width: 50%;
    }

    div input {
        background-color: #53aaa7;
        font-size: 1em;
        width: calc(100% - 44px);
        height: 82%;
        border: 0px;
        border-radius: 8px;
        padding: 4px;
        transform: translateY(-9px);
    }

    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
        margin: 20px 0px
    }
}
